<div class="container">
  <div class="form-card">
    <form [formGroup]="form" (ngSubmit)="submit()" novalidate>

      <div class="d-flex justify-content-between align-items-center">
        <a routerLink="/merchant/status" class="btn btn-outline-secondary">Check Application Status</a>
        <h3 class="mb-3">Merchant Application Form</h3>
      </div>

      <hr class="my-4">

      <h5 class="fw-bold mt-3">Merchant Information</h5>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Business Registration No *</label>
          <input formControlName="businessRegNo" class="form-control"
            [ngClass]="{'is-invalid': showError('businessRegNo')}" placeholder="Enter registration number">
          <div *ngIf="showError('businessRegNo')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Registered Company Name *</label>
          <input formControlName="companyName" class="form-control" [ngClass]="{'is-invalid': showError('companyName')}"
            placeholder="Enter company name">
          <div *ngIf="showError('companyName')" class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Date of Incorporation *</label>
          <input type="date" formControlName="incorporationDate" class="form-control"
            [ngClass]="{'is-invalid': showError('incorporationDate')}">
          <div *ngIf="showError('incorporationDate')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Country of Corporation *</label>
          <select formControlName="countryOfCorp" class="form-select"
            [ngClass]="{'is-invalid': showError('countryOfCorp')}">
            <option value="">Select an option</option>
            <option>Malaysia</option>
            <option>Singapore</option>
            <option>Thailand</option>
          </select>
          <div *ngIf="showError('countryOfCorp')" class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Name of Merchant (English) *</label>
          <input formControlName="merchantNameEn" class="form-control"
            [ngClass]="{'is-invalid': showError('merchantNameEn')}">
          <div *ngIf="showError('merchantNameEn')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Name of Merchant (Local) *</label>
          <input formControlName="merchantNameLocal" class="form-control"
            [ngClass]="{'is-invalid': showError('merchantNameLocal')}">
          <div *ngIf="showError('merchantNameLocal')" class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Tax ID *</label>
          <input formControlName="taxId" class="form-control" [ngClass]="{'is-invalid': showError('taxId')}">
          <div *ngIf="showError('taxId')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Classification of Entity *</label>
          <select formControlName="entityType" class="form-select" [ngClass]="{'is-invalid': showError('entityType')}">
            <option value="">Select an option</option>
            <option>Sole Proprietor</option>
            <option>Partnership</option>
            <option>Private Limited</option>
          </select>
          <div *ngIf="showError('entityType')" class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>

      <h5 class="fw-bold mt-4">Merchant Address</h5>
      <div class="mb-3">
        <label>Address Line 1 *</label>
        <input formControlName="address1" class="form-control" [ngClass]="{'is-invalid': showError('address1')}">
        <div *ngIf="showError('address1')" class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="mb-3"><label>Address Line 2</label><input formControlName="address2" class="form-control"></div>
      <div class="mb-3"><label>Address Line 3</label><input formControlName="address3" class="form-control"></div>
      <div class="mb-3"><label>Address Line 4</label><input formControlName="address4" class="form-control"></div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label>City *</label>
          <input formControlName="city" class="form-control" [ngClass]="{'is-invalid': showError('city')}">
          <div *ngIf="showError('city')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-4 mb-3">
          <label>State *</label>
          <input formControlName="state" class="form-control" [ngClass]="{'is-invalid': showError('state')}">
          <div *ngIf="showError('state')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-4 mb-3">
          <label>Postal *</label>
          <input type="tel" formControlName="postal" class="form-control"
            [ngClass]="{'is-invalid': showError('postal')}" (keydown)="blockNonNumericChars($event)">
          <div *ngIf="showError('postal')" class="invalid-feedback">Please enter 4 to 10 numbers.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Country *</label>
          <select formControlName="country" class="form-select" [ngClass]="{'is-invalid': showError('country')}">
            <option value="">Select</option>
            <option>Malaysia</option>
            <option>Singapore</option>
          </select>
          <div *ngIf="showError('country')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-3 mb-3">
          <label>Telephone Number 1 *</label>
          <input type="tel" formControlName="phone1" class="form-control"
            [ngClass]="{'is-invalid': showError('phone1')}" (keydown)="blockNonNumericChars($event)">
          <div *ngIf="showError('phone1')" class="invalid-feedback">Numbers only.</div>
        </div>
        <div class="col-md-3 mb-3">
          <label>Telephone Number 2</label>
          <input type="tel" formControlName="phone2" class="form-control"
            [ngClass]="{'is-invalid': showError('phone2')}" (keydown)="blockNonNumericChars($event)">
          <div *ngIf="showError('phone1')" class="invalid-feedback">Numbers only.</div>

        </div>
      </div>

      <h5 class="fw-bold mt-4">Owner Profile</h5>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>First Name *</label>
          <input formControlName="ownerFirstName" class="form-control"
            [ngClass]="{'is-invalid': showError('ownerFirstName')}">
          <div *ngIf="showError('ownerFirstName')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Last Name *</label>
          <input formControlName="ownerLastName" class="form-control"
            [ngClass]="{'is-invalid': showError('ownerLastName')}">
          <div *ngIf="showError('ownerLastName')" class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Email *</label>
          <input type="email" formControlName="ownerEmail" class="form-control"
            [ngClass]="{'is-invalid': showError('ownerEmail')}">
          <div *ngIf="showError('ownerEmail')" class="invalid-feedback">Enter a valid email address.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Date of Birth *</label>
          <input type="date" formControlName="ownerDob" class="form-control"
            [ngClass]="{'is-invalid': showError('ownerDob')}">
          <div *ngIf="showError('ownerDob')" class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>IC / Passport No *</label>
          <input formControlName="ownerIdNo" class="form-control" [ngClass]="{'is-invalid': showError('ownerIdNo')}">
          <div *ngIf="showError('ownerIdNo')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Nationality *</label>
          <select formControlName="ownerNationality" class="form-select"
            [ngClass]="{'is-invalid': showError('ownerNationality')}">
            <option value="">Select</option>
            <option>Malaysian</option>
            <option>Singaporean</option>
          </select>
          <div *ngIf="showError('ownerNationality')" class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>ID Upload (Front) *</label>
          <input type="file" class="form-control" (change)="onFileChange($event, 'ownerIdFront')"
            [ngClass]="{'is-invalid': showError('ownerIdFront')}">
          <div *ngIf="showError('ownerIdFront')" class="invalid-feedback">Upload required.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>ID Upload (Back) *</label>
          <input type="file" class="form-control" (change)="onFileChange($event, 'ownerIdBack')"
            [ngClass]="{'is-invalid': showError('ownerIdBack')}">
          <div *ngIf="showError('ownerIdBack')" class="invalid-feedback">Upload required.</div>
        </div>
      </div>

      <h5 class="fw-bold mt-4">Merchant Business</h5>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Industry *</label>
          <select formControlName="industry" class="form-select" [ngClass]="{'is-invalid': showError('industry')}">
            <option value="">Select</option>
            <option>Retail</option>
            <option>F&B</option>
            <option>Service</option>
          </select>
          <div *ngIf="showError('industry')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Business Type *</label>
          <select formControlName="businessType" class="form-select"
            [ngClass]="{'is-invalid': showError('businessType')}">
            <option value="">Select</option>
            <option>Online</option>
            <option>Physical</option>
          </select>
          <div *ngIf="showError('businessType')" class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Number of Employees *</label>
          <input type="number" formControlName="numEmployees" class="form-control"
            [ngClass]="{'is-invalid': showError('numEmployees')}"
            (keydown)="blockNonNumericChars($event)">
          <div *ngIf="showError('numEmployees')" class="invalid-feedback">Enter digits only.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Scheme Required *</label>
          <select formControlName="schemeRequired" class="form-select"
            [ngClass]="{'is-invalid': showError('schemeRequired')}">
            <option value="">Select</option>
            <option>Visa</option>
            <option>MasterCard</option>
            <option>UnionPay</option>
            <option>Amex</option>
          </select>
          <div *ngIf="showError('schemeRequired')" class="invalid-feedback">Please fill out this field.</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Facility Required *</label>
          <select formControlName="facilityRequired" class="form-select"
            [ngClass]="{'is-invalid': showError('facilityRequired')}">
            <option value="">Select</option>
            <option>Full Payment</option>
            <option>E-Commerce</option>
            <option>Redemption</option>
            <option>Installment</option>
          </select>
          <div *ngIf="showError('facilityRequired')" class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="col-md-6 mb-3">
          <label>Proof of Business *</label>
          <input type="file" class="form-control" (change)="onFileChange($event, 'proofOfBusiness')"
            [ngClass]="{'is-invalid': showError('proofOfBusiness')}">
          <div *ngIf="showError('proofOfBusiness')" class="invalid-feedback">Upload required.</div>
        </div>
      </div>

<h5 class="fw-bold mt-4">Identity Verification</h5>
<div class="card p-3 mb-4 bg-light">
  <div class="row">
    <div class="col-md-6 d-flex flex-column align-items-center">
      <label class="mb-2 fw-bold">Live Selfie Capture</label>
      
      <div class="position-relative" style="width: 320px; height: 240px; background: #000;">
        <video #videoElement autoplay playsinline style="width: 100%; height: 100%; object-fit: cover;" [hidden]="isImageCaptured"></video>
        <canvas #canvasElement style="position: absolute; top: 0; left: 0;" [hidden]="isImageCaptured"></canvas>
        <img *ngIf="isImageCaptured" [src]="capturedImagePreview" style="width: 100%; height: 100%; object-fit: cover;">
      </div>

      <div class="mt-2">
        <button type="button" class="btn btn-warning btn-sm me-2" (click)="startCamera()" *ngIf="isImageCaptured || !isCameraActive">
          Retake / Start Camera
        </button>
        <button type="button" class="btn btn-success btn-sm" (click)="capturePhoto()" *ngIf="isCameraActive && !isImageCaptured" [disabled]="!isFaceDetected">
          Capture Photo
        </button>
      </div>
      
      <div class="mt-2 w-100" *ngIf="feedbackMessage">
        <div class="alert alert-{{feedbackClass}} py-2 px-3 mb-0 text-center" role="alert">
          <strong>{{ feedbackMessage }}</strong>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <p class="text-muted small mt-2">
        <strong>Instructions:</strong><br>
        1. Ensure good lighting.<br>
        2. Remove glasses/masks.<br>
        3. Look straight at the camera.<br>
        4. Center your face in the frame.<br>
        5. Wait for the green "Ready to capture" message.
      </p>
    </div>
  </div>
</div>

      <div class="mt-4 pt-3 border-top">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="submitting || form.invalid">
          <span *ngIf="!submitting">Submit Application</span>
          <span *ngIf="submitting">Submitting...</span>
        </button>
      </div>

    </form>
  </div>
</div>